#root{
    width:100vw;
    height:100vh;
    background-color: white;
}

.card:hover{
    text-decoration: underline;
}

.navbar{
    margin:24px;
}

.navlink{
    margin:24px;
}

.content{
    margin:24px;
}

button{
    margin:24px;
}
