
#root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 14px solid #4F5902;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    border-top: 2px solid #9BC1F2;
    border-bottom: 2px solid #9BC1F2;
    margin:6px;
}

.card:hover{
    border-top: 2px solid #6A9AD9;
    border-bottom: 2px solid #6A9AD9;
    cursor: pointer;
}

#navbar{
}

.navlink{
    display:inline-block;
    padding:24px;
}

.navlink:hover{
    text-decoration: underline;
    cursor: pointer;
}

#header{
    font-size: 24px;
    font-weight: 700;
    padding:24px;
    text-transform: uppercase;
}

#content{
    padding-inline:24px;
}

button{
    margin:12px;
}

span{
    display:inline-block;
}

.field{
    margin:12px;
}